---
AlignAfterOpenBracket: DontAlign
AlwaysBreakAfterReturnType: TopLevelDefinitions
BreakBeforeBraces: Allman
ColumnLimit: 80
ContinuationIndentWidth: 4
DerivePointerAlignment: false
IndentCaseLabels: true
IndentPPDirectives: AfterHash
IndentWidth: 2
PointerAlignment: Middle
SortIncludes: false
SpaceAfterCStyleCast: true
SpaceBeforeParens: Always
UseTab: Never
...
