*.user
/bindings/gumjs/node_modules/
/bindings/gumjs/package-lock.json
/gum/backend-darwin/helpers/build/
/subprojects/capstone/
/subprojects/glib/
/subprojects/libffi/
/subprojects/packagecache/
/subprojects/pcre-*/
/subprojects/pcre.wrap
/subprojects/quickjs/
/subprojects/tinycc/
/subprojects/zlib*
