*.ipch
*.la
*.lo
*.o
*.sdf
*.suo
*.swp
*.user
*~
.DS_Store
.deps
.libs
/INSTALL
/Makefile
/Makefile.in
/README
/aclocal.m4
/autom4te.cache
/bindings/Makefile
/bindings/Makefile.in
/bindings/gumpp/Makefile
/bindings/gumpp/Makefile.in
/build-aux
/config.h
/config.h.in
/config.log
/config.status
/configure
/ext/Makefile
/ext/Makefile.in
/ext/udis86/Makefile
/ext/udis86/Makefile.in
/ext/udis86/libudis86/Makefile
/ext/udis86/libudis86/Makefile.in
/gum-1.0.pc
/gum/Makefile
/gum/Makefile.in
/gumpp-1.0.pc
/libs/Makefile
/libs/Makefile.in
/libs/gum/Makefile
/libs/gum/Makefile.in
/libs/gum/heap/Makefile
/libs/gum/heap/Makefile.in
/libs/gum/prof/Makefile
/libs/gum/prof/Makefile.in
/libtool
/m4/libtool.m4
/m4/lt*.m4
/stamp-h1
/tests/*.log
/tests/*.trs
/tests/Makefile
/tests/Makefile.in
/tests/core/Makefile
/tests/core/Makefile.in
/tests/gum-tests
/tests/gumpp/Makefile
/tests/gumpp/Makefile.in
/tests/heap/Makefile
/tests/heap/Makefile.in
/tests/prof/Makefile
/tests/prof/Makefile.in
/vapi/Makefile
/vapi/Makefile.in
