syntax: glob
.deps
.DS_Store
.metadata
bin/.keep
*~
*.aps
*.cache
*.idc
*.ipch
*.o
*.opensdf
*.pyc
*.sdf
*.stamp
*.suo
*.swp
*.user

syntax: regexp
\.bin$
syntax: regexp
\.class$

syntax: glob
INSTALL
Makefile
Makefile.in
README
aclocal.m4
bindings/Makefile
bindings/Makefile.in
bindings/gumpp/*.la
bindings/gumpp/*.lo
bindings/gumpp/.libs
bindings/gumpp/Makefile
bindings/gumpp/Makefile.in
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
ext/Makefile
ext/Makefile.in
ext/udis86/Makefile
ext/udis86/Makefile.in
ext/udis86/libudis86/*.la
ext/udis86/libudis86/*.lo
ext/udis86/libudis86/.libs
ext/udis86/libudis86/Makefile
ext/udis86/libudis86/Makefile.in
gum-1.0.pc
gum/*.la
gum/*.lo
gum/.libs
gum/Makefile
gum/Makefile.in
gumpp-1.0.pc
install-sh
libs/Makefile
libs/Makefile.in
libs/gum/Makefile
libs/gum/Makefile.in
libs/gum/heap/*.la
libs/gum/heap/*.lo
libs/gum/heap/.libs
libs/gum/heap/Makefile
libs/gum/heap/Makefile.in
libs/gum/prof/*.la
libs/gum/prof/*.lo
libs/gum/prof/.libs
libs/gum/prof/Makefile
libs/gum/prof/Makefile.in
libtool
ltmain.sh
m4/libtool.m4
m4/lt*.m4
missing
stamp-h1
tests/*.la
tests/*.lo
tests/.libs
tests/Makefile
tests/Makefile.in
tests/core/*.la
tests/core/*.lo
tests/core/.libs
tests/core/Makefile
tests/core/Makefile.in
tests/gum-tests
tests/gumpp/*.la
tests/gumpp/*.lo
tests/gumpp/.libs
tests/gumpp/Makefile
tests/gumpp/Makefile.in
tests/heap/*.la
tests/heap/*.lo
tests/heap/.libs
tests/heap/Makefile
tests/heap/Makefile.in
tests/prof/*.la
tests/prof/*.lo
tests/prof/.libs
tests/prof/Makefile
tests/prof/Makefile.in
vapi/Makefile
vapi/Makefile.in
