name: Android-GumJS-Lite

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  GUMJS_OPTIONS: '--enable-gumjs --enable-diet --disable-v8 --disable-database --disable-tests'

jobs:
  android-gumjs-lite:
    strategy:
      matrix:
        id:
          - android-x86
          - android-x86_64
          - android-arm
          - android-arm64
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r25
          add-to-path: false
      - name: Set ANDROID_NDK_ROOT
        run: echo "ANDROID_NDK_ROOT=${{ steps.setup-ndk.outputs.ndk-path }}" >> $GITHUB_ENV
      - name: Build GumJS
        run: |
          ./configure --host=${{ matrix.id }} ${{ env.GUMJS_OPTIONS }}
          make
      - name: Upload GumJS devkit
        uses: actions/upload-artifact@v4
        with:
          name: gumjs-devkit-${{ matrix.id }}
          path: build/bindings/gumjs/devkit/
