name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  gir:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout frida-gum
        uses: actions/checkout@v2
      - name: Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install \
            gobject-introspection \
            libdwarf-dev \
            libelf-dev \
            libgirepository1.0-dev \
            libglib2.0-dev \
            libjson-glib-dev \
            libsoup2.4-dev \
            libsqlite3-dev \
            libunwind-dev \
            ninja-build
          pip install meson==0.61.2
      - name: Build
        run: |
          meson setup \
            -Dgumpp=enabled \
            -Dgumjs=enabled \
            build
          meson compile -C build

  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        arch: [amd64_x86, amd64]
    steps:
      - name: Checkout frida-gum
        uses: actions/checkout@v2
      - name: Dependencies
        run: pip install meson==0.61.2 ninja
      - name: Environment
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.arch }}
      - name: Build
        run: |
          meson setup `
            --default-library static `
            -Dgumpp=enabled `
            -Dgumjs=enabled `
            build
          meson compile -C build
      - name: Test
        run: |
          Copy-Item build\bindings\gumpp\frida-gumpp-1.0.dll -Destination build\tests\
          .\build\tests\gum-tests.exe

  macos-x86_64:
    runs-on: macos-latest
    steps:
      - name: Checkout frida-gum
        uses: actions/checkout@v2
      - name: Dependencies
        run: pip3 install meson==0.61.2 ninja
      - name: Build
        run: |
          meson setup \
            --default-library static \
            -Dgumpp=enabled \
            -Dgumjs=enabled \
            build
          meson compile -C build
      - name: Test
        run: ./build/tests/gum-tests

  linux-x86:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout frida-gum
        uses: actions/checkout@v2
      - name: Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install gcc-multilib lib32stdc++-9-dev
          pip3 install meson==0.61.2
          .github/env/bootstrap.sh linux-x86_64 linux-x86
      - name: Build
        run: |
          export PATH="/tmp/toolchain/bin:$PATH"
          meson setup \
            --native-file /tmp/native.txt \
            --cross-file /tmp/cross.txt \
            --default-library static \
            -Dgumpp=enabled \
            -Dgumjs=enabled \
            build
          meson compile -C build
      - name: Test
        run: ./build/tests/gum-tests

  linux-x86_64:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout frida-gum
        uses: actions/checkout@v2
      - name: Dependencies
        run: pip install meson==0.61.2 ninja
      - name: Build
        run: |
          meson setup \
            --default-library static \
            -Dgumpp=enabled \
            -Dgumjs=enabled \
            build
          meson compile -C build
      - name: Test
        run: ./build/tests/gum-tests

  ios-arm64:
    runs-on: macos-latest
    steps:
      - name: Checkout frida-gum
        uses: actions/checkout@v2
      - name: Dependencies
        run: |
          pip3 install meson==0.61.2
          .github/env/bootstrap.sh macos-x86_64 ios-arm64
      - name: Build
        run: |
          export PATH="/tmp/toolchain/bin:$PATH"
          meson setup \
            --native-file /tmp/native.txt \
            --cross-file /tmp/cross.txt \
            --default-library static \
            -Dgumpp=enabled \
            -Dgumjs=enabled \
            -Dtests=enabled \
            build
          meson compile -C build
      - name: Package
        run: tar -C build/tests -czf /tmp/runner.tar.gz gum-tests data/
      - name: Test
        uses: frida/corellium-action@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          gateway: corellium.frida.re
          device: ios-14.8-arm64
          upload: /tmp/runner.tar.gz
          run: |
            cd /usr/local
            mkdir -p opt/frida
            cd opt/frida
            tar xf $ASSET_PATH
            ./gum-tests

  android-intel:
    runs-on: macos-10.15
    strategy:
      matrix:
        arch: [x86, x86_64]
    steps:
      - name: Checkout frida-gum
        uses: actions/checkout@v2
      - name: Dependencies
        run: |
          pip3 install meson==0.61.2
          .github/env/bootstrap.sh macos-x86_64 android-${{ matrix.arch }}
      - name: Build
        run: |
          export PATH="/tmp/toolchain/bin:$PATH"
          meson setup \
            --native-file /tmp/native.txt \
            --cross-file /tmp/cross.txt \
            --default-library static \
            -Dgumpp=enabled \
            -Dgumjs=enabled \
            -Dtests=enabled \
            build
          meson compile -C build
      - name: AVD cache
        uses: actions/cache@v2
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.arch }}
      - name: Create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          arch: ${{ matrix.arch }}
          api-level: 27
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."
      - name: Test
        uses: reactivecircus/android-emulator-runner@v2
        with:
          arch: ${{ matrix.arch }}
          api-level: 27
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: |
            gtar -C build/tests -czf /tmp/runner.tar.gz gum-tests data/
            adb push /tmp/runner.tar.gz /data/local/tmp/
            adb shell "su root sh -c 'set -ex; cd /data/local/tmp; tar xf runner.tar.gz; ./gum-tests'"

  android-arm:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [arm, arm64]
    steps:
      - name: Checkout frida-gum
        uses: actions/checkout@v2
      - name: Dependencies
        run: |
          pip3 install meson==0.61.2
          .github/env/bootstrap.sh linux-x86_64 android-${{ matrix.arch }}
      - name: Build
        run: |
          export PATH="/tmp/toolchain/bin:$PATH"
          meson setup \
            --native-file /tmp/native.txt \
            --cross-file /tmp/cross.txt \
            --default-library static \
            -Dgumpp=enabled \
            -Dgumjs=enabled \
            -Dtests=enabled \
            build
          meson compile -C build
      - name: Package
        run: tar -C build/tests -czf /tmp/runner.tar.gz gum-tests data/
      - name: Test
        uses: frida/corellium-action@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          gateway: corellium.frida.re
          device: android-8.1.0-arm64
          upload: /tmp/runner.tar.gz
          run: |
            cd /data/local/tmp
            tar xf $ASSET_PATH
            ./gum-tests
